body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.subHeading{
  border: 1px solid black;
  width: 200px;
  color:blue;
}

#root{
  margin: 20px;
}
.rightAlign{
  text-align: right;
}

#nav li{
  display: inline;
  margin: 20px;
  
}
#nav li a{
  text-decoration: none;
  font-size: 20px;
}
#container{
  border: 1px solid black;
  width:500px;
}
#registrationForm{
  margin-left: 40px;
}
